@import url('https://fonts.googleapis.com/css2?family=Rozha+One&display=swap');
.qnatb{ 
	width: 1000px;
	border-collapse: collapse;	
	font-weight: 400;
	margin: 10px auto 0;
}
.qnatb th,.qnatb td{
	padding: 10px 20px;
	text-align: center;
}
.qnatb td:nth-child(2){
	text-align: left;
}
.qnatb th{
	color: #333;
}
.qnaimg{
	background: url('../image/qnapage.jpg');
	background-size: cover;
	width: 100%;
	height: 400px;
	margin-bottom: 30px;
	position: relative;
}
.qnaback{
	background-color:  rgba(0, 0, 0, 0.1);
	width: 100%;
	height: 100%;
}
.qnatext{
	font-family: 'Rozha One', serif;
	font-weight: 700;
	font-size: 90px;
	color: #fff;
	position: absolute;
	bottom: -38px;
    left: 300px;
}
#write{
	width: 100px;
    padding: 10px;
    border-radius: 15px;
    color: #fff;
    background-color: #faa727;
    border: none;
	margin-left: 1350px;
}
.pnum{
	margin-top: 15px;
	margin-bottom: 30px;
}
